html,
body,
.stage,
.summary-stage {
  overflow-y: hidden;
  height: 100%;
  width: 100%;
}
body {
  position: relative;
}
.row-sm {
  margin-left: -5px;
  margin-right: -5px;
}
.row-sm > [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
.stage {
  z-index: 2;
  position: relative;
  background-size: cover;
  background-position: center center;
}
.stage.to-payment {
  transition: 0.6s;
  transform: translateX(-100%);
}
.summary-stage {
  position: absolute;
  background: #5f33b8;
  z-index: 1;
}
.summary-stage-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: 0.6s;
  z-index: 1;
}
.summary-stage-body {
  transform: translateY(150px);
  transition: 0.6s;
  width: 300px;
}
.summary-heading {
  text-align: center;
}
.summary-title {
  margin-bottom: 7px;
  margin-top: 20px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 19px;
  text-align: center;
}
.summary-subtitle {
  color: #fff;
  margin-bottom: 0;
  font-size: 16px;
  opacity: 0.85;
}
.summary-success {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 300px) scale(1.3);
  top: 100px;
  width: 300px;
  opacity: 0;
  transition: 0.6s;
  visibility: hidden;
  z-index: 2;
}
.summary-success.active {
  transform: translate(-50%, 0) scale(1);
  opacity: 1;
  visibility: visible;
}
.summary-success-icon {
  display: table;
  text-align: center;
  border-radius: 50%;
  margin: 0 auto;
  font-size: 40px;
  color: #fff;
}
.summary-success-subtitle {
  opacity: 0.75;
}
.summary-success-list {
  list-style: none;
  margin: 0;
  margin-top: 20px;
  padding: 20px 0;
  background: #fff;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: 0.6s;
  transition-delay: 0.4s;
  transform: translateY(50px);
}
.summary-success-list > li {
  margin-bottom: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px dashed #e6e6e6;
}
.summary-success-list > li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}
.summary-success-list > li > span {
  display: inline-block;
}
.summary-success-list > li > span:nth-child(1) {
  max-width: 64%;
  opacity: 0.85;
}
.summary-success-list > li > span:nth-child(2) {
  float: right;
  font-weight: bold;
}
.circle-wrapper {
  position: relative;
  margin: 0 auto;
  width: 60px;
}
.circle-loading {
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  z-index: 2;
}
.circle-loading .circle-loading-bg,
.circle-loading .circle-loading-spin,
.circle-loading .circle-loading-border {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.circle-loading .circle-loading-bg {
  background: #5f33b8;
  z-index: 4;
  top: 2px;
  left: 2px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  box-shadow: inset 0 5px 15px rgba(48,25,92,0.3);
}
.circle-loading .circle-loading-spin {
  background: #33b85f;
  z-index: 3;
  height: 50%;
  width: 50%;
  border-radius: 60px 0 0 0;
  animation: spin 1s infinite;
  transform-origin: 30px 30px;
  transition: none;
}
.circle-loading .circle-loading-border {
  z-index: 2;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,0.15);
  border-radius: 50%;
}
.circle-shadow {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.3s;
  box-shadow: 0 7px 10px rgba(29,15,55,0.1);
}
.circle-loading-icon,
.circle-complete-icon {
  position: absolute;
  z-index: 999;
  color: #fff;
  text-align: center;
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  transition: 0.6s;
}
.circle-loading-icon {
  animation: blink 1s infinite;
}
.circle-complete-icon {
  transform: translateY(120%) scale(0.8);
  font-size: 26px;
}
.summary-stage.complete .circle-loading {
  animation: pop 0.8s;
  animation-delay: 0.5s;
}
.summary-stage.complete .circle-loading .circle-loading-border {
  background: #a0cc47;
}
.summary-stage.complete .circle-loading .circle-loading-bg {
  opacity: 0;
}
.summary-stage.complete .circle-loading .circle-loading-spin {
  display: none;
}
.summary-stage.complete .circle-loading .circle-loading-icon {
  animation: none;
  transform: translateY(-120%) scale(0.8);
}
.summary-stage.complete .circle-loading .circle-complete-icon {
  transform: translateY(0) scale(1);
}
.summary-stage.complete .summary-stage-body {
  transform: translateY(0);
}
.summary-stage.complete .summary-success-list {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.summary-stage.complete .circle-shadow {
  animation: shadowMove 30s infinite;
  animation-delay: 1s;
  box-shadow: none;
}
.stage-mask,
.stage-inner-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.stage-mask {
  background-color: #000;
  opacity: 0.65;
  z-index: 1;
}
.stage-inner-shadow {
  box-shadow: inset 0 0 200px 0 rgba(0,0,0,0.5);
  z-index: 2;
}
.stage-body {
  z-index: 3;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  left: 0;
  color: #fff;
}
.stage-body-inner {
  position: relative;
}
.product-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-right: 20px;
}
.product-list > li {
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.product-list-thumbnail {
  float: left;
  width: 25%;
  padding-right: 30px;
}
.product-list-thumbnail > img {
  display: block;
  max-width: 100%;
  max-height: 45px;
  float: right;
}
.product-list-icon {
  float: left;
  width: 25%;
  padding-left: 23px;
  display: inline-block;
  font-size: 23px;
  opacity: 0.5;
}
.product-list-body {
  width: 55%;
  padding-right: 20px;
  float: left;
  overflow: hidden;
}
.product-list-title {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4em;
  opacity: 0.85;
}
.product-list-price {
  width: 20%;
  float: left;
  font-size: 18px;
  line-height: 1.4em;
  margin-bottom: 0;
  text-align: right;
}
.total {
  position: relative;
  margin-right: 20px;
}
.total-title {
  padding-left: 25%;
  margin-bottom: 0;
  margin-top: 0;
  text-align: left;
  font-weight: normal;
  font-size: 22px;
  line-height: 1em;
}
.total-price {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 1em;
  letter-spacing: 0.5px;
}
.card-form {
  z-index: 1;
  background: #fff;
  color: #666;
  padding: 30px 35px;
  padding-bottom: 65px;
  border-radius: 3px;
  box-shadow: 0 3px 40px rgba(0,0,0,0.5);
  position: relative;
}
.card-form label {
  color: #b3b3b3;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.7px;
}
.card-form .form-control {
  border-radius: 0;
  border: none;
  box-shadow: none;
  border-bottom: 1.5px solid #d9d9d9;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  height: 40px;
  background: none;
}
.card-form .form-control.invalid {
  border-color: rgba(184,95,51,0.65);
}
.card-form .form-control.valid {
  border-color: rgba(95,51,184,0.65);
}
.card-form .form-control-wrap {
  position: relative;
}
.card-form .form-group {
  margin-bottom: 35px;
}
.card-form .form-control-select-wrap {
  position: relative;
}
.card-form .form-control-select-wrap:after {
  position: absolute;
  display: block;
  height: 40px;
  line-height: 40px;
  width: 10px;
  content: '\f107';
  font-family: 'FontAwesome';
  top: 0;
  right: 0;
  text-align: right;
  z-index: 1;
  opacity: 0.64;
}
.card-form .form-control-select-wrap .form-control {
  padding-right: 10px;
  z-index: 2;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.credit-cards-item {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  transition: 0.6s;
  opacity: 0;
  transform: translateY(-10px);
}
.credit-cards-item.active {
  opacity: 1;
  transform: translateY(0);
}
.card-form-submit {
  z-index: 2;
  background-color: #5f33b8;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 2px 2px;
  border: none;
  outline: none !important;
  padding: 20px 0;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  transition: 0.5s;
}
.card-form-submit:active,
.card-form-submit:focus {
  background-color: #5f33b8;
}
.card-form-submit:hover {
  background-color: #562ea6;
}
.card-form-submit.active {
  background-color: #7448cc !important;
  box-shadow: 0 10px 30px rgba(149,115,216,0.5) , 0 1px 3px rgba(48,25,92,0.8);
}
.validation-errors {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
  list-style: none;
  margin-top: 30px;
  padding-left: 30px;
  opacity: 0.65;
}
.validation-errors > li {
  margin-bottom: 10px;
  display: none;
}
#inputCardCVV::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}
#inputCardCVV {
  -moz-appearance: textfield !important;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 40px;
  margin: 0 auto;
  display: table;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #aed463;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@-moz-keyframes shadowMove {
  0% {
    box-shadow: 0 0 20px rgba(94,210,132,0.01);
  }
  10% {
    box-shadow: 5px 10px 40px rgba(94,210,132,0.5);
  }
  20% {
    box-shadow: -5px -10px 30px rgba(94,210,132,0.4);
  }
  30% {
    box-shadow: -5px 7px 27px rgba(94,210,132,0.8);
  }
  40% {
    box-shadow: -3px -1px 25px rgba(94,210,132,0.65);
  }
  50% {
    box-shadow: 7px 6px 30px rgba(94,210,132,0.6);
  }
  60% {
    box-shadow: -10px -5px 40px rgba(94,210,132,0.3);
  }
  70% {
    box-shadow: 2px 6px 27px rgba(94,210,132,0.65);
  }
  80% {
    box-shadow: -10px 5px 35px rgba(94,210,132,0.2);
  }
  90% {
    box-shadow: 0px 15px 35px rgba(94,210,132,0.3);
  }
  100% {
    box-shadow: 0 0 20px rgba(94,210,132,0.01);
  }
}
@-webkit-keyframes shadowMove {
  0% {
    box-shadow: 0 0 20px rgba(94,210,132,0.01);
  }
  10% {
    box-shadow: 5px 10px 40px rgba(94,210,132,0.5);
  }
  20% {
    box-shadow: -5px -10px 30px rgba(94,210,132,0.4);
  }
  30% {
    box-shadow: -5px 7px 27px rgba(94,210,132,0.8);
  }
  40% {
    box-shadow: -3px -1px 25px rgba(94,210,132,0.65);
  }
  50% {
    box-shadow: 7px 6px 30px rgba(94,210,132,0.6);
  }
  60% {
    box-shadow: -10px -5px 40px rgba(94,210,132,0.3);
  }
  70% {
    box-shadow: 2px 6px 27px rgba(94,210,132,0.65);
  }
  80% {
    box-shadow: -10px 5px 35px rgba(94,210,132,0.2);
  }
  90% {
    box-shadow: 0px 15px 35px rgba(94,210,132,0.3);
  }
  100% {
    box-shadow: 0 0 20px rgba(94,210,132,0.01);
  }
}
@-o-keyframes shadowMove {
  0% {
    box-shadow: 0 0 20px rgba(94,210,132,0.01);
  }
  10% {
    box-shadow: 5px 10px 40px rgba(94,210,132,0.5);
  }
  20% {
    box-shadow: -5px -10px 30px rgba(94,210,132,0.4);
  }
  30% {
    box-shadow: -5px 7px 27px rgba(94,210,132,0.8);
  }
  40% {
    box-shadow: -3px -1px 25px rgba(94,210,132,0.65);
  }
  50% {
    box-shadow: 7px 6px 30px rgba(94,210,132,0.6);
  }
  60% {
    box-shadow: -10px -5px 40px rgba(94,210,132,0.3);
  }
  70% {
    box-shadow: 2px 6px 27px rgba(94,210,132,0.65);
  }
  80% {
    box-shadow: -10px 5px 35px rgba(94,210,132,0.2);
  }
  90% {
    box-shadow: 0px 15px 35px rgba(94,210,132,0.3);
  }
  100% {
    box-shadow: 0 0 20px rgba(94,210,132,0.01);
  }
}
@keyframes shadowMove {
  0% {
    box-shadow: 0 0 20px rgba(94,210,132,0.01);
  }
  10% {
    box-shadow: 5px 10px 40px rgba(94,210,132,0.5);
  }
  20% {
    box-shadow: -5px -10px 30px rgba(94,210,132,0.4);
  }
  30% {
    box-shadow: -5px 7px 27px rgba(94,210,132,0.8);
  }
  40% {
    box-shadow: -3px -1px 25px rgba(94,210,132,0.65);
  }
  50% {
    box-shadow: 7px 6px 30px rgba(94,210,132,0.6);
  }
  60% {
    box-shadow: -10px -5px 40px rgba(94,210,132,0.3);
  }
  70% {
    box-shadow: 2px 6px 27px rgba(94,210,132,0.65);
  }
  80% {
    box-shadow: -10px 5px 35px rgba(94,210,132,0.2);
  }
  90% {
    box-shadow: 0px 15px 35px rgba(94,210,132,0.3);
  }
  100% {
    box-shadow: 0 0 20px rgba(94,210,132,0.01);
  }
}
@-moz-keyframes checkpop {
  0% {
    transform: rotate(0) scale(1);
  }
  33% {
    transform: rotate(-3deg) scale(0.9);
  }
  66% {
    transform: rotate(5deg) scale(1.1);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}
@-webkit-keyframes checkpop {
  0% {
    transform: rotate(0) scale(1);
  }
  33% {
    transform: rotate(-3deg) scale(0.9);
  }
  66% {
    transform: rotate(5deg) scale(1.1);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}
@-o-keyframes checkpop {
  0% {
    transform: rotate(0) scale(1);
  }
  33% {
    transform: rotate(-3deg) scale(0.9);
  }
  66% {
    transform: rotate(5deg) scale(1.1);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}
@keyframes checkpop {
  0% {
    transform: rotate(0) scale(1);
  }
  33% {
    transform: rotate(-3deg) scale(0.9);
  }
  66% {
    transform: rotate(5deg) scale(1.1);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.65;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.65;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.65;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.65;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes pop {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.85) rotate(-3deg);
  }
  66% {
    transform: scale(1.2) rotate(5deg);
    box-shadow: 0 2px 15px rgba(0,0,0,0.05);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
@-webkit-keyframes pop {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.85) rotate(-3deg);
  }
  66% {
    transform: scale(1.2) rotate(5deg);
    box-shadow: 0 2px 15px rgba(0,0,0,0.05);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
@-o-keyframes pop {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.85) rotate(-3deg);
  }
  66% {
    transform: scale(1.2) rotate(5deg);
    box-shadow: 0 2px 15px rgba(0,0,0,0.05);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
@keyframes pop {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.85) rotate(-3deg);
  }
  66% {
    transform: scale(1.2) rotate(5deg);
    box-shadow: 0 2px 15px rgba(0,0,0,0.05);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
@-moz-keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0.5;
  }
}
@-webkit-keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0.5;
  }
}
@-o-keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0.5;
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0.5;
  }
}
@-moz-keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
@-webkit-keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
@-o-keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
