_base = #ff4e50
_baseI = invert(_base)


html,
body,
.stage
	height 100%
	width 100%
	
.stage
	position relative
	background-size cover
	background-position center center

.stage-mask,
.stage-inner-shadow
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	
	
.stage-mask
	background-color black
	opacity .46
	z-index 1

.stage-inner-shadow
	box-shadow inset 0 0 200px 0 fade-out(black, 50%)
	z-index 2